<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
    </head>

    <body>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="/rango/{{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>if u want to see categories.</strong>
        {% endif %}

        <a href="{% url 'rango:detail'%}">category</a>
    </body>
</html>

